<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/stylesheets/thankyou.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v5.0&appId=480879529211554&autoLogAppEvents=1"></script>
    <script>
        window.fbAsyncInit = () => {
            FB.init({
            appId      : '2739836836096199',
            xfbml      : true,
            version    : 'v5.0'
            });
        };
    
        (function(d, s, id){
            let js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>
    <title>Stylish Shopping Cart</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="desktop-container">
                <div class="desktop-nav-column-left">
                    <a href="../index.html">
                        <img src="../public/images/logo.png" alt="logo-img" class="desktop-logo">
                    </a>
                    <div class="desktop-nav-labels">
                        <a href="../index.html?tag=women">
                            <div class="desktop-nav-women">
                                <p class="desktop-nav-women">女裝</p>
                            </div>
                        </a>
                        <div class="desktop-nav-line">
                            <p>|</p>
                        </div>
                        <a href="../index.html?tag=man">
                            <div class="desktop-nav-man">
                                <p class="desktop-nav-man">男裝</p>
                            </div>
                        </a>
                        <div class="desktop-nav-line">
                            <p>|</p>
                        </div>
                        <a href="../index.html?tag=accessories">
                            <div class="desktop-nav-accessories">
                                <p class="desktop-nav-accessories">配件</p>
                            </div>
                        </a> 
                    </div>
                </div>
                <div class="desktop-nav-column-right">
                    <form action="../index.html" method="GET">
                        <input type="search" class="desktop-nav-search-product" id="desktopSearchBar" value="" name="search">
                            <img src="../public/images/search.png" alt="search-icon" class="desktop-nav-search-icon-product" id="desktopSearchBtn">
                    </form>
                    <a href="./cart.html">
                        <div class="desktop-nav-cart">
                            <img src="../public/images/cart.png" alt="cart-icon">
                            <div class="desktop-nav-cart-count">
                                0
                            </div>
                        </div>
                    </a>
                    <div class="desktop-nav-member">
                        <img src="../public/images/member.png" alt="member-icon" class="member-img">
                    </div>
                </div>
            </div>
            <div class="mobile-container">
                <div class="logo-wrapper">
                        <div class="search-icon-fake">
                            <img src="../public/images/search.png" alt="search-icon">
                        </div>
                        <a href="../index.html">
                            <div class="logo">
                                    <img src="../public/images/logo.png" alt="logo" class="mobile-logo">
                            </div>
                            </a>
                        <form action="../index.html" method="GET">
                            <div class="search-icon">
                                <div class="search-input-field">
                                    <input type="search" class="search-input" id="mobileSearchBar" name="search">
                                </div>
                                <img src="../public/images/search.png" alt="search-icon" class="nav-search-icon" id="mobileSearchBtn">
                            </div>
                        </form>
                </div>
                <div class="nav-bar">
                    <a href="../index.html?tag=women">
                        <div class="nav-women-field">
                            <p class="nav-women">女裝</p>
                        </div>
                    </a>
                    <div class="nav-line">
                        <p>|</p>
                    </div>
                    <a href="../index.html?tag=man">
                        <div class="nav-man-field">
                            <p class="nav-man">男裝</p>
                        </div>
                    </a>
                    <div class="nav-line">
                        <p>|</p>
                    </div>
                    <a href="../index.html?tag=accessories">
                        <div class="nav-accessories-field">
                            <p class="nav-accessories">配件</p>
                        </div>
                    </a>
                    <div class="cart-member-wrapper">
                        <div class="cart">
                            <img src="../public/images/cart-mobile.png" alt="cart-img">
                            <p>購物車</p>
                            <div class="mobile-nav-cart-count">
                                0
                            </div>
                        </div>
                        <div class="nav-line">
                            <p>|</p>
                        </div>
                        <div class="member">
                            <img src="../public/images/member-mobile.png" alt="cart-img" class="member-img">
                            <p class="member-word">會員</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dektop-nav-border">

            </div>
        </nav>
    </header>
    <section class="thankyou-field">
        <div class="gratitude">
            <img src="../public/images/logo.png" alt="logo-picture">
            <div class="gratitude-card">
                <div class="gratitude-card-title">您的訂單號碼:</div>
                <div id="numberField"></div>
            </div>
        </div>
        <div class="recommand-word">
            熱銷商品：
        </div>
        <div class="recommand" id="recommandField">
            
        </div>
        <div class="survey">
            <div class="survey-option">
                <span>滿意度</span>
                <input type="radio" id="one" name="satisfy">
                <label for="one">1</label>
                <input type="radio" id="two" name="satisfy">
                <label for="two">2</label>
                <input type="radio" id="three" name="satisfy">
                <label for="three">3</label>
                <input type="radio" id="four" name="satisfy">
                <label for="four">4</label>
                <input type="radio" id="five" name="satisfy">
                <label for="five">5</label>
            </div>
            <div class="survey-text">
                <input type="text" placeholder="想說什麼嗎？">
            </div>
        </div>
        <div class="fb-share-button" data-href="http://127.0.0.1:5500/index.html" data-layout="button_count" data-size="small">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5500%2Fviews%2Findex.html&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                Share
            </a>
        </div>
        <div class="homepage-btn" id="homeBtn">
            Home page
        </div>
    </section>
    <section class="footer">
        <div class="footer-mobile-container">
            <div class="column-wrapper">
                <div class="column1">
                    <div class="line">
                        關於 Stylelish
                    </div>
                    <div class="line">
                        服務條款
                    </div>
                    <div class="line">
                        隱私政策
                    </div>
                </div>
                <div class="column2">
                    <div class="line">
                        聯絡我們
                    </div>
                    <div class="line">
                        FAQ
                    </div>
                </div>
                <div class="column3">
                    <div class="icon">
                        <img src="../public/images/line.png" alt="icon-img">
                    </div>
                    <div class="icon">
                        <img src="../public/images/twitter.png" alt="icon-img">
                    </div>
                    <div class="icon">
                        <img src="../public/images/facebook.png" alt="icon-img">
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>© 2018. All rights reserved</p>
            </div>
        </div>
        <div class="footer-desktop-container">
            <div class="footer-desktop-labels">
                <div>
                    關於 Stylish
                </div>
                <div>
                    |
                </div>
                <div>
                    服務條款
                </div>
                <div>
                    |
                </div>
                <div>
                    隱私政策
                </div>
                <div>
                    |
                </div>
                <div>
                    聯絡我們
                </div>
                <div>
                    |
                </div>
                <div>
                    FAQ
                </div>
            </div>
            <div class="footer-desktop-icons">
                <div>
                    <img src="../public/images/line.png" alt="line">
                </div>
                <div>
                    <img src="../public/images/twitter.png" alt="twitter">
                </div>
                <div>
                    <img src="../public/images/facebook.png" alt="facebook">
                </div>
                <div class="footer-desktop-copyright">
                    © 2018. All rights reserved
                </div>
            </div>
        </div>
    </section>
    <script src="../public/javascript/thankyou.js"></script>
</body>
</html>
